<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <h1> Driver work</h1>
    <h1>firstname <%= data.userInfoInput.firstname %>
    </h1>
    <h1>lastname <%= data.userInfoInput.lastname %>
    </h1>
    <h1>telephone <%= data.userInfoInput.telephone %>
    </h1>
    <h1>birth <%= data.userInfoInput.birth %>
    </h1>
    <h1>country <%= data.userInfoInput.country %>
    </h1>
    <h1>email <%= data.userInfoInput.email %>
    </h1>

    <h1>driver <%= data.askOne.ask1 %>
    </h1>
    <h1>city <%= data.askOne.city %>
    </h1>
    <h1>yourself <%= data.askOne.yourself %>
    </h1>

</body>

</html>